<%- include("partials/header.ejs") %>
<main class="container">
  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4">Blog'posty</h3>
      <% if(locals.posts) { for (let index = 0; index < posts.length;
      index++){%>
      <article class="blog-post">
        <hr />
        <h2 class="display-5 link-body-emphasis mb-1">
          <%= posts[index].topic %>
        </h2>
        <p class="blog-post-meta">
          <%= (posts[index].date).toDateString() %> by
          <strong><%= posts[index].name %></strong>
        </p>

        <p><%= posts[index].content %></p>

        <form action="/edit" method="post">
          <input type="hidden" name="postId" value="<%= posts[index].id %>" />
          <input class="edit" type="submit" value="Edit" />
        </form>
        <form action="/delete" method="post">
          <input type="hidden" name="postId" value="<%= posts[index].id %>" />
          <input class="delete" type="submit" value="Delete" />
        </form>
      </article>
      <%}%> <% }else{ %>
      <h3>There is no post here.</h3>
      <% } %>
    </div>
    
    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem">
        <div>
          <h4 class="fst-italic">Recent posts</h4>
          <ul class="list-unstyled">
            <li>
              <div class="col-lg-8">
                <h6 class="mb-0">Example blog post title</h6>
                <small class="text-body-secondary">January 15, 2023</small>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include("partials/footer.ejs") %>
